
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.left-section{
    position: relative;
    display: flex;
    width: 685px;
    height: auto;
    background-color: #D458FF;
}

.white-open{
    position: relative;
    width: 684.5px;
    height: 867px;
    /*border: 1px solid black;*/
    background-image: url('../../img/signup-1.png');
    background-size: cover; /* Optional: ensure the image covers the element */
    background-position: center; /* Optional: position the image */
    background-repeat: no-repeat; /* Optional: avoid repeating the image */
}

.blocks-covered{
    position: absolute;
    top: 450px;
    left: 225px;
    width: 236.09px;
    height: 218.87px;
    /*border: 1px solid black;*/
    background-image: url('../../img/blocks.png');
    background-size: cover; /* Optional: ensure the image covers the element */
    background-position: center; /* Optional: position the image */
}

.main-header{
    position: absolute;
    top: 120px;
    left: 210px;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}

.right-section{
    position: absolute;
    top: 0px;
    right: -78px;
    display: flex;
    width: 753px;
    height: 100vh;
    background-color: #ffffff;
    /*border: 1px solid black;*/
}

.main-header-right{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 450px;
    height: 70px;
    /*border: 1px solid black;*/
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    color: rgba(71, 71, 72, 0.779);
}

.form-section{
    position: relative;
    top: 30%;
    left: 10%;
    width: 600px;
    height: 500px;
    /*border: 1px solid red;*/
}

.username-section{
    margin: 0px 0px 0px 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    color: rgba(79, 79, 79, 0.795);
}

.inputs{
    margin: 0px 0px 0px 90px;
}

.input-field{
    width: 400px;
    height: 50px;
    border:1px solid #d700fd;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input-field:focus{
    border: 1px solid #f207b3;
    outline: none;
}

.input:focus{
    outline: none;
    border: none;
}

.hint{
    margin: 0px 0px 0px 180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #565556c1;
}

.hint-highlight{
    text-decoration: none;
    color: #f23df2c1;
}

.login-btn-container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px 0px 0px 0px;
}

.login-btn{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #bd06ff;
    background-color: #FD0FE1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Media query for smaller screens (mobile devices) */
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        overflow-y: auto;   /* Allow vertical scrolling */
    }
    .left-section, .white-open{
        width: 420px;
        height: 527px;
    }

    .blocks-covered{
        top: 250px;
        left: 140px;
        width: 160px;
        height: 150px;
    }

    .main-header{
        top: 80px;
        left: 180px;
        font-size: 1rem;
    }

    .right-section{
        position: relative;
        width: 420px;
        height:627px;
    }

    .main-header-right{
        left: 10px;
        width: 390px;
        font-size: 1rem;
    }

    .form-section{
        left: 0;
        width: 500px;
        height: 430px;
    }

    .username-section{
        margin-left: 40px;
        position: relative;
        top:-30px;
    }

    .input-field{
        position: relative;
        top: -40px;
        width: 300px;
        height: 40px;
    }

    .hint{
        position: relative;
        top: -30px;
        margin: 0px 0px 0px 100px;
    }

    .login-btn-container{
        position: relative;
        margin: 10px 0px 0px 10px;
    }

}