

.left-section-container{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 438px;
    height: 729px;
    border: 1px solid black;
    background-image: url('../../../img/dashboard/discover/weather.png');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.top-section-container-on-weather{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 833px;
    height: 163px;
    /*border: solid 1px black;*/
}

.top-section-container-on-weather2{
    position: absolute;
    top: 35%;
    right: 5%;
    width: 833px;
    height: 163px;
    /*border: solid 1px black;*/
}

.top-section-container-on-weather3{
    position: absolute;
    top: 60%;
    right: 5%;
    width: 833px;
    height: 163px;
    /*border: solid 1px black;*/
}

.top-section-container-on-weather4{
    position: absolute;
    top: 85%;
    right: 5%;
    width: 833px;
    height: 163px;
    /*border: solid 1px black;*/
}

.header-name-container{
    position: absolute;
    left:40%;
    width: auto;
    height: 39px;
    /*border: solid 1px black;*/
    justify-content: center;
    align-items: center;
    display: flex;
}

.header-name{
    font-size: 32px;
}

.weather-bar{
    position: absolute;
    bottom: 0;
    width: 823px;
    height: 95px;
    /*border: solid 1px black;*/
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: rgb(1, 20, 37);
}

.weather-type-image{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    /*border: solid 1px black;*/
    justify-content: center;
    align-items: center;
    display: flex;
}

.weather-type-name{
    margin-left: 10px;
    width: auto;
    height: 29px;
    /*border: solid 1px white;*/
    justify-content: center;
    align-items: center;
    display: flex;
}

.weather-type-name-details{
    color: white;
}

.temperature-icon-container{
    margin-left: 20px;
    width: 64px;
    height: 64px;
    /*border: solid 1px white;*/
    background-image: url('../../../img/dashboard/discover/temp.svg');
    background-repeat: no-repeat;
    background-size:cover;
    fill: white;
    background-color: white;
    border-radius: 20px;
}

.humidity-icon-container{
    margin-left: 20px;
    width: 64px;
    height: 64px;
    /*border: solid 1px white;*/
    background-image: url('../../../img/dashboard/discover/humidity.png');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
}

.wind-icon-container{
    margin-left: 20px;
    width: 64px;
    height: 64px;
    /*border: solid 1px white;*/
    background-image: url('../../../img/dashboard/discover/wind.png');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
}