.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-section {
    margin-top: 10%;
    margin-left: 20px;
    flex: 1 1 calc(33.333% - 20px); /* Adjust the width to 3 cards per row with 20px gap */
    margin-bottom: 20px;
}

.image-container {
    width: 448px;
    height: 181px;
    /*border: solid 1px red;*/
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.package-name-container {
    width: 448px;
    height: 43px;
    background-color: #FD0FE1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.package-name {
    color: white;
    font-size: 24px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.section-container {
    margin-top: 10px;
    width: 448px;
    height: 74px;
    /*border: solid 1px black;*/
    align-items: center;
    display: flex;
}

.calender-logo {
    margin-left: 10px;
    width: 74px;
    height: 74px;
    /*border: solid 1px black;*/
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('../../../img/dashboard/trips/cal.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.days-section-container {
    margin-left: 50px;
    width: auto;
    height: 29px;
    /*border: solid 1px black;*/
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
}

.price-logo {
    margin-left: 10px;
    width: 74px;
    height: 74px;
    /*border: solid 1px black;*/
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('../../../img/dashboard/trips/price.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.checkout-card {
    position: relative; /* Change this to relative */
    margin-top: 20px; /* Add some margin on top to space the button */
    margin-left: 10px;
    width: 421px;
    height: 57px;
    background-color: #FF00E1;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    color: white;
    font-size: 24px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.card-border{
    width: 448px;
    height: 547px;
    border: solid 1px rgba(112, 112, 112, 0.73);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weather-card{
    position:relative;
    top: 15%;
    left:50%;
    width: 75px;
    height: 75px;
    border: solid 1px red;
}